theme.discord = {
 css = ''
   /**
    * @name TokyoNight
    * @author kenanpelit
    * @version 1.0
    * @description Discord theme using TokyoNight colors
    */
   :root {
     --interactive-normal: ${mocha.text};
     --text-normal: ${mocha.text}; 
     --background-primary: ${mocha.base};
     --background-secondary: ${mocha.mantle};
     --background-tertiary: ${mocha.crust};
     --channels-default: ${mocha.blue};
     --deprecated-panel-background: ${mocha.crust};
     --channeltextarea-background: ${mocha.surface0};
   }

   /* Popouts */
   .da-popouts .da-container,
   .da-friendsTableHeader,
   .da-friendsTable,
   .da-autocomplete,
   .da-themedPopout,
   .da-header,
   .da-footer,
   .da-userPopout>*,
   .da-systemPad,
   .da-autocompleteHeaderBackground {
     background-color: var(--background-secondary) !important;
     border-color: transparent !important;
   }

   .theme-dark .da-messageGroupWrapper {
     background-color: var(--background-tertiary) !important;
     border-color: transparent;
   }

   .theme-dark .da-option:after {
     background-image: none !important;
   }

   /* Settings */
   .theme-dark #bd-settings-sidebar .ui-tab-bar-item {
     color: var(--interactive-normal);
   }

   .theme-dark #bd-settings-sidebar .ui-tab-bar-header,
   div[style*="color: rgb(114, 137, 218);"],
   .da-addButtonIcon {
     color: var(--channels-default) !important;
   }

   .theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
   .theme-dark .da-autocompleteRow .da-selectorSelected {
     background-color: var(--background-modifier-selected);
     color: var(--interactive-active);
   }

   /* UI Elements */
   .da-emojiButtonNormal .da-contents .da-sprite {
     filter: sepia(1) !important;
   }

   /* Scrollbar */
   .da-messagesWrapper .da-scroller::-webkit-scrollbar,
   .da-messagesWrapper .da-scroller::-webkit-scrollbar-track-piece {
     background-color: var(--background-tertiary) !important;
     border-color: rgba(0, 0, 0, 0) !important;
   }

   .da-scrollerThemed .da-scroller::-webkit-scrollbar-thumb,
   .da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
     background-color: var(--background-secondary) !important;
     border-color: var(--background-tertiary) !important;
   }

   /* Code Highlighting */
   .hljs-deletion, .hljs-formula, .hljs-keyword, .hljs-link, .hljs-selector-tag {
     color: ${mocha.red};
   }
   .hljs-built_in, .hljs-emphasis, .hljs-name, .hljs-quote, .hljs-strong, .hljs-title, .hljs-variable {
     color: ${mocha.blue};
   }
   .hljs-attr, .hljs-params, .hljs-template-tag, .hljs-type {
     color: ${mocha.yellow};
   }
   .hljs-builtin-name, .hljs-doctag, .hljs-literal, .hljs-number {
     color: ${mocha.mauve};
   }
   .hljs-code, .hljs-meta, .hljs-regexp, .hljs-selector-id, .hljs-template-variable {
     color: ${mocha.peach};
   }
   .hljs-addition, .hljs-meta-string, .hljs-section, .hljs-selector-attr, .hljs-selector-class, .hljs-string, .hljs-symbol {
     color: ${mocha.green};
   }
   .hljs-attribute, .hljs-bullet, .hljs-class, .hljs-function, .hljs-function .hljs-keyword, .hljs-meta-keyword, .hljs-selector-pseudo, .hljs-tag {
     color: ${mocha.teal};
   }
   .hljs-comment {
     color: ${mocha.surface2};
   }
   .hljs-link_label, .hljs-literal, .hljs-number {
     color: ${mocha.pink};
   }

   /* Text Style */
   .hljs-comment, .hljs-emphasis {
     font-style: italic;
   }
   .hljs-section, .hljs-strong, .hljs-tag {
     font-weight: bold;
   }
 '';
};

