# Secrets and security files
secrets/home-secrets.yaml
secrets/wireless-secrets.yaml
secrets/subliminal.toml
secrets/nix.conf
**/*.key
**/*.pem
**/*.key.*
.env
.env.*
.gemini/*

# Assets and configuration
#modules/home/scripts/bin
#modules/home/scripts/bin.nix
assets/mpv
assets/fzf
assets/grub
hosts/vhay/configuration.nix
*.tar.gz
!*.enc.tar.gz
assets/dot.enc.tar.gz
assets/dotfiles.enc.tar.gz

# IDE and editor files
*.swp
*~

# Environment and local settings
.direnv
.devenv
.pre-commit-config.yaml
.envrc

# Build and output directories
/build/
/dist/

# Temporary files
*.tmp
*.bak
*.log
