name: CI

on:
  pull_request:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v16
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: nix flake check
        run: nix flake check -L --show-trace
